In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.shape

(404290, 6)

In [4]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [5]:
new_df = df.sample(30000)

In [6]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       1
question2       0
is_duplicate    0
dtype: int64

In [7]:
new_df.duplicated().sum()

0

In [8]:
ques_df = new_df[['question1','question2']]
ques_df.head()

,question1,question2
73478,How many medals has India won in Olympics till...,How many atheletes from India have won medals ...
101665,Is it harmful for my body to orgasm just by im...,What is the best way to lose weight for a pear...
93593,What exactly do officers see when they scan yo...,"If I have dual citizenship, when immigration s..."
241181,Where is the Indian stock market headed?,What will be the future of the Indian Stock Ma...
369784,What is a real success?,What is real success for you?

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

# Assuming 'ques_df' is your DataFrame
# Replace NaN values with empty strings or any other suitable approach
ques_df['question1'].fillna('', inplace=True)
ques_df['question2'].fillna('', inplace=True)

# Merge texts
questions = list(ques_df['question1']) + list(ques_df['question2'])

# Use CountVectorizer
cv = CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(), 2)

C:\Users\Rohan kumar\AppData\Local\Temp\ipykernel_604\2411564271.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ques_df['question1'].fillna('', inplace=True)
C:\Users\Rohan kumar\AppData\Local\Temp\ipykernel_604\2411564271.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ques_df['question2'].fillna('', inplace=True)

In [11]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)

In [12]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
73478,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
101665,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93593,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
241181,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
369784,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105719,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
91815,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80526,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
385627,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
238681,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [13]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [14]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
73478,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
101665,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93593,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
241181,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
369784,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

MemoryError: Unable to allocate 1.34 GiB for an array with shape (6000, 30000) and data type int64

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.742

In [ ]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test,y_pred)

C:\Users\91842\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[14:13:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

0.7328333333333333